$min-screen:768px;
$mid-screen:992px;
$max-screen:1200px;
#header{
    height: 64px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 8px #84848442;
    position: fixed;
    top: 0;
    z-index: 100;
    .ant-row{
        height: 100%;
        .ant-col{
            height: 100%;
            .header_logo{
                height: 110%;
                box-sizing: border-box;
                img{
                    cursor: pointer;
                    height: 100%;
                } 
            }
            .header_navbox{
                height: 100%;
                ul{
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    li{
                        height: 100%;
                        position: relative;
                        .header_title{
                            height: 59px;
                            line-height:59px;
                            position: relative;
                            font-size: 16px;
                            letter-spacing: 1px;
                            color: #606062;
                            cursor: pointer;
                            &::after{
                                content: "";
                                display: block;
                                position: absolute;
                                left: 50%;
                                right: 50%;
                                bottom: -5px;
                                height: 5px;
                                width: 100%;
                                opacity: 0;
                                background-color: rgb(255, 96, 94);
                                -webkit-transition: all .5s;
                                -o-transition: all .5s;
                                -ms-transition: all .5s;
                                transition: all .5s;
                            } 
                          
                            &:hover{
                                &::after{
                                    left: 1%;
                                    right: 1%;
                                    opacity: 1;
                                    -webkit-transition: all .5s;
                                    -o-transition: all .5s;
                                    -ms-transition: all .5s;
                                    transition: all .5s;
                                }
                            }
                        }
                        .active_header{
                            .header_title{
                                &::after{
                                    opacity: 1;
                                    left: 0;
                                    right: 0;
                                    -webkit-transition: none;
                                    -o-transition: none;
                                    -ms-transition: none;
                                    transition: none;
                                }
                            }
                        }
                        .navbar_box{
                            display: none;
                            margin-top: 1px;
                            background-color: #fff;
                            position: absolute;
                            width: 180%;
                            z-index: 100;
                            top: 100%;
                            left: -40%;
                            border-radius: 2px;
                            box-shadow: 3px 3px 10px #888888;
                            p{
                                font-size: 14px;
                                line-height: 40px;
                                cursor: pointer;
                                i{
                                    display: inline-block;
                                    height: 5px;
                                    width: 5px;
                                    border-radius: 50%;
                                    background-color: rgb(96,96,96);
                                    vertical-align: middle;
                                    margin: 0 10px;
                                }
                            }
                        }
                        .navbar_box2{
                            p{
                                text-align: center;
                                padding: 0 20px;
                                &:hover{
                                    color: #f66;
                                }
                            }
                        }
                        .navbar_box4{
                            width: 800px;
                            left: -350px;
                            padding: 10px;
                            .navbox4_shell{
                                display: flex;
                                justify-content: space-around;
                                h4{
                                    text-align: center;
                                    border-bottom: 1px solid rgb(96, 96, 96);
                                    line-height: 50px;
                                    margin-bottom: 10px;
                                    .anticon{
                                        margin: 0 10px;
                                    }
                                }
                                .nav_solution{
                                    p{
                                        margin-bottom: 20px;
                                        &:hover{
                                            color: #f66;
                                        }
                                    }
                                }
                                .nav_product{
                                    p{
                                       span{
                                            &:nth-child(1):not(:last-child){
                                                display: inline-block;
                                                width: 250px;
                                            }
                                            a{
                                                &:hover{
                                                    color: #f66;
                                                }
                                            }
                                        }
                                        .navbar_box4_line{
                                            display: inline-block;
                                            width: 250px;
                                            i{
                                                background-color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        @media screen and (max-width:1200px) and (min-width:992px) {
                            .navbar_box{
                                p{
                                    font-size: 12px;
                                    line-height: 30px;
                                }
                            }
                            .navbar_box4{
                                width: 550px;
                                left: -250px;
                                padding: 5px;
                                .navbox4_shell{
                                    h4{
                                        line-height: 40px;
                                        margin-bottom: 5px;
                                        .anticon{
                                            margin-bottom: 10px;
                                        }
                                    }
                                    p{
                                        word-break:break-all;
                                        display:-webkit-box;
                                        -webkit-line-clamp:1;
                                        -webkit-box-orient:vertical;
                                        overflow:hidden;
                                    }
                                    .nav_product{
                                        p{
                                            span{
                                                &:nth-child(1):not(:last-child){
                                                    width: 150px;
                                                }
                                            }
                                            .navbar_box4_line{
                                                width: 150px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:hover{
                            .navbar_box{
                                display: block;
                            }
                        }
                    }
                }
            }
            .header_menu{
                display: flex;
                cursor: pointer;
                height: 100%;
                align-items: center;
                justify-content: flex-end;
                font-size: 32px;
            }
            @media screen and (max-width:992px) {
                .header_navbox{
                    display: none;
                }
                .header_logo{
                    height: 100%;
                    padding: 5px 0;
                }
            }
            @media screen and (min-width:992px) {
                .header_menu{
                    display: none;
                }
            }
        }
    }
  
}
